kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
html, body {
    border: 0;
    margin: 10pt;
    padding: 0;
    font-family: Calibri, Helvetica, arial, sans-serif;
    background-color: white;
    color: #333;
}
a {
    color: #4183C4;
    text-decoration: none;
}
h1 {
    border-bottom: 4px solid #cccccc;
    color: darkred;
    font-size: 1.8em;
    font-weight: bold;
}
h2 {
    border-bottom: 3px solid darkred;
    color: darkred;
    font-size: 1.6em;
    font-weight: bold;
}
h3 {
    border-bottom: 2px solid #cccccc;
    color: darkred;
    font-size: 1.5em;
    font-weight: bold;
}
h4 {
    border-bottom: 1px solid #cccccc;
    color: darkred;
    font-size: 1.4em;
    font-weight: bold;
}
p, pre {
    padding-top: 0;
    /* padding-bottom: .3em;
     */
}
hr {
    border: 3px solid darkred;
    border-radius: 3px;
}
li .first {
    display: inline-block;
}
ul, ol {
    padding-left: 30px;
}
ul :first-child, ol :first-child {
    margin-top: 0;
}
ul :last-child, ol :last-child {
    margin-bottom: 0;
}
dl {
    padding: 0;
}
dl dt {
    font-weight: bold;
    font-style: italic;
    padding: 0;
    /* margin: 15px 0 5px;
     */
}
dl dt:first-child {
    padding: 0;
}
dl dt > :first-child {
    margin-top: 0;
}
dl dt > :last-child {
    margin-bottom: 0;
}
dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}
dl dd > :first-child {
    margin-top: 0;
}
dl dd > :last-child {
    margin-bottom: 0;
}
blockquote {
    background: #ddd;
    border-left: 10px solid #aaa;
    margin: 1.5em 10px;
    margin-left: 1em;
    margin-right: 5em;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    /* content: open-quote;
     */
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    font: 17px "Times New Roman", serif;
    /* display: inline;
     */
}
img {
    max-width: 100%;
}
.underline {
    text-decoration: underline blue;
    font-style: italic;
}
span.frame {
    display: block;
    overflow: hidden;
}
span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}
span.frame span img {
    display: block;
    float: left;
}
span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}
span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}
span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}
span.align-right span img {
    margin: 0;
    text-align: right;
}
span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}
span.float-left span {
    margin: 13px 0 0;
}
span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}
span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}
table {
    border-collapse: collapse;
    border-radius: 2px;
    margin-left: 2em;
}
th, td {
    padding: 0 1em 0 1em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    line-height: 1em;
}
tr:nth-child(even){
    background-color: #f2f2f2
}
th {
    background-color: darkred;
    color: white;
}
.org-center {
    text-align: center;
}
.org-left {
    text-align: left;
}
.org-right {
    text-align: right;
}

.figure {
    color: #8D8D84;
    text-align: center;
}

.fixme {
    background: #FFFF88 url('../images/fixme.png') no-repeat top left;
    color: #CC0000;
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 82px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.inlinetask {
    background-color: #F7F7F7;
    border-collapse: separate;
    border-color: #EEEEEE #EEEEEE #EEEEEE #1E90FF;
    border-style: solid;
    border-width: 1px 1px 1px 6px;
    padding: 8px 8px 0px 8px;
    margin: 10px 0px;
}

    .inlinetask td {
        padding: 2px 5px 0px 2px;
        border: 0px;
    }

.info {
    border: 1px solid;
    background: url('../images/info.png') no-repeat 10px 10px #BDE5F8;
    color: #00529B;
    padding: 4px 10px 4px 52px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 10px 0px;
}

.tip {
    border: 1px solid;
    background: url('../images/tip.png') no-repeat 10px 10px #DFF2BF;
    color: #4F8A10;
    padding: 4px 10px 4px 52px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 10px 0px;
}

.note {
    border: 1px solid;
    background: url('../images/note.png') no-repeat 10px 10px #FFFCCB;
    color: #9F6000;
    padding: 4px 10px 4px 52px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 10px 0px;
}

/*
How to use warnings, info, tips, etc is all the same. 

#+begin_warning
*Warning example* \\
Be careful!  Check that you have...
#+end_warning
*/

.warning {
    border: 1px solid;
    background: url('../images/warning.png') no-repeat 10px 10px #FFBABA;
    color: #D8000C;
    padding: 4px 10px 4px 52px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 10px 0px;
}

.todo, .done {
    margin: 10px 0;
    padding: 0px 2px;
}

.NEW {
    background-color: #FDFCD8;
    border: 1px solid #EEE9C3;
    color: #302B13;
    font-weight: normal;
}

.TODO {
    background-color: #FED5D7;
    border: 1px solid #FC5158;
    color: #FC5158;
}

.STRT, .STARTED {
    background-color: #FEF2D4;
    border: 1px solid #FDBF3D;
    color: #FDBF3D;
}

.WAIT, .WAITING, .DLGT, .DELEGATED {
    background-color: #DFFFDF;
    border: 1px solid #55BA80;
    color: #55BA80;
}

.SDAY, .SOMEDAY, .DFRD, .DEFERRED {
    background-color: #D3EEFF;
    border: 1px solid #42B5FF;
    color: #42B5FF;
}

.DONE, .CANX, .CANCELED {
    background-color: #F2F2EE;
    border: 1px solid #969696;
    color: #969696;
}

.tag span {
    background-color: #EDEDED;
    border: 1px solid #EDEDED;
    color: #939393;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 80%;
    font-weight: normal;
    margin: 0 3px;
    padding: 1px 2px;
    border-radius: 10px;
}

    #right-panel-contents .tag span {
        font-size: 100%;
    }

    .tag span:hover {
        background: #BABDB6;
    }

    .tag .FLAGGED {
        background-color: #EDC6C8;
        border: 1px solid #EDC6C8;
        color: #C15F4E;
    }

.tag .selected {
    background-color: #FFEBC1;
    border: 1px solid #FDBF3B;
    color: #A6750C;
}

span.todo {
    cursor: pointer;
    /* display: block; */
    /* float: left; */
    margin: -1px 3px 0px 0px;
}

    span.todo:hover {
        background: #BABDB6;
        color: #888888;
    }

span.todo .selected {
    background-color: #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
}

.timestamp-kwd {
    background-color: #FFF1F1;
    color: #880000;
    margin: 0px 4px 0px 0px;
    padding: 2px 0px 2px 2px;
}

.timestamp {
    display: none;
}

p.verse {
    color: #808080;
    font-style: italic;
}

.example {
    background-color: #DDFADE;
    border: 1px solid #9EC49F;
    color: #333333;
}

.alert {
    font-weight: bold;
    color: #FF0000;
}
