.cache/
.org-id-locations
abbrev_defs*
./abbrev_defs
*abbrev_defs*
auto-save-list/
org-persist/
bookmarks
custom-vars.el
elpa/
flycheck_init.el
history
org-macros/
org-roam.db
places
recentf
transient/
server/
eln-cache/
eshell/
emojis/
fonts/
init.wip.el
plugins/eglot-ahk.el
tramp
vscode-autohotkey2-lsp/
/.lsp-session-v1
ellama-sessions/
projects
